*{
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
    max-width:1366px;
  
    
}
body{
    color: #000000;
}
nav{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo {
    height: 40px;
    width: 110px;
    margin-top: -66px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color:brown;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

li a:hover{
    background-color:rgb(106, 45, 23);
    transition: 0.5s;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

#check{
    display: none;
}
.checkboton{
    font-size: 0px;
}


section p{
    font-size: 16px;
    display: inline-block;
    position: relative;
    margin-top: 855px;
}
body{
    max-width: 1366px;
    font-family: 'bebas neue', sans-serif;
    min-height: 100%;
}
.main{
    display: flex;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
input,
button,
textarea{
    font: inherit;
}


header{
    font-size: 0px;
    width: 100%;
}


.hero{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 1200px;
    padding-top:30px;

}

.intro p {
    display: flex;
    font-family: 'bebas neue',sans-serif;
    padding: 0 262px ;
    text-align: center;
    color: #000000;

}

.button-conocermas{
    background-color: #be0434;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 906px;
    left: 612px;
    width: 200px;
    border-radius: 16.5px;
    padding: 8px;
}
.button-conocermas:hover{
    background-color: rgb(243, 120, 120);
    color: #be0434;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 850px;
    left: 690px;
    width: 200px;
    border-radius: 16.5px;
    padding: 8px;
    border:2px #be0434 ;
}

.lugares{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;

}

.caminito{
    margin-bottom: -334px;
}

.san-telmo{
    margin-bottom: -340px;
}
.monserrat{
    margin-bottom: -36px;
}

.pie-pagina{
    width: 100%;
    background-color: #000000;

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 10px;
    width: 100%;
}
.pie-pagina .grupo-1 .box figure img{
    width: 70px;
}
.pie-pagina .grupo-1 .box h2, h1, p {
    color: #fff;
    margin-bottom: 25px;
    font-size: 16px;
    font-family: 'montserrat', sans-serif;
}
.pie-pagina .box{
    padding: 28px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    margin-right: 10px;
    background-color: #be0434;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: antiquewhite;
}

.pie-pagina .grupo-2{
    padding: 15px 10px;
    margin-top: -298px;
    margin-left: 869px;
}

.servicios{
    display: flex;
    flex-wrap: wrap;
    font-family: 'bebas neue', sans-serif;
    color: #be0434;

}
.servicios h1{
    font-size: 30px;
    font-family: 'montserrat', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
.servicios p{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: black;
    font-family: 'montserrat', Helvetica, sans-serif;
    text-align: center;
  
}

.servicios-1 h2{
    display: flex;
    justify-content: center;
}
.servicios-1 p{
    display: flex;
    justify-content: center;
    padding-left: 351px;
    padding-right: 408px;
    margin-top: 10px;
    margin-left: 60px;
}

.servicios-2 h2{
    display: flex;
    justify-content: start;
    margin-left: 309px;
    margin-top: 58px;
}
.servicios-2 p{
    display: flex;
    justify-content: center;
    padding-left: 351px;
    padding-right: 506px;
    margin-top: 17px;
    margin-left: -245px;
}


.servicios-3 h2{
    display: flex;
    justify-content: start;
    margin-left: 949px;
    margin-top: -126px;
}
.servicios-3 p{
    display: flex;
    justify-content: center;
    margin-top: 17px;
    margin-left: 696px;
}

/* CARDS */

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 25px;
    position: relative; 
    z-index: 999;
    margin-left: 300px;
    margin-right: 300px;
    

 
.card-1 {
    width: 24rem;
    height: 36rem;
    border-radius: 29px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: white;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    
}
  
  .card-1 img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
}
  
  .card-1 h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
  

  .card-1 p {
    position: absolute;
    opacity: 0;
    max-width: 100%;
    transition: opacity .3s ease-out;
    inset: auto auto 0px 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    color: #856635;
    font-weight: bolder;
}
.style-cost{
    color:#be0434;
    font-size: 30px;
}


  
  .card-1:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset .3s ease-out;
}
  
  .card-1:hover p{
    opacity: 1;
    transition: opacity .5s .1s ease-in;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    
}


  
.card-1:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
}
}

.bsastespera{
    position: absolute;
    top: 1840px;
    left: 374px;
}
.gif{
    display: flex;
    justify-content:end;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 25px;
}
.seguinos-tour {
    position: absolute;
    left: 15px;
    top: 2551px;
}
/* HOTELES */

.hero-2 {
    position: relative;
    margin-top: 660px;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    display: inline-block;
    margin-top: 130px;
  }
  

.form-busqueda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #be0434;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 40px;
    margin-top: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .form-busqueda label {
    margin-right: 10px;
  }
  
  .form-busqueda input,
  select {
    width: 150px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 22px;
  }
  
  .form-busqueda button {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 20px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    font-family: 'bebas neue', sans-serif;
    font-size: 30px;
    color: #000000;
  }
  
  .square {
    width: 1122px;
    height: 434px;
    border-radius: 23px;
    border: 3px solid #be0434;
    background-color: #fff;
    margin-top: 40px;
    margin-left: 75px;
    
  }
  
  .oferta-hoteles {
    display: inline-block;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    margin-top: 99px;
    margin-bottom: 40px;
  }
  .square h1 {
    font-size: 40px;
    margin-left: 418px;
    font-family: 'bebas neue',sans-serif;
    color: #000000;
  }
  
  .square h2 {
    font-size: 16px;
    margin-left: 418px;
    font-family: 'Nunito', sans-serif;
  }
  .icons-fa {
    display: inline-block;
    margin-left: 426px;
    margin-top: -102px;
}
  
  .square h3 {
    color: #18a46e;
    margin-left: 418px;
    font-family: 'Nunito', sans-serif;
  }
  


  .square a{
    font-size: 16px;
    font-family: 'montserrat',sans-serif;
  }

  .principal {
    display: inline-block;
    margin-top: 28px;
    margin-left: -234px;
    cursor: pointer;
  }
  
  .miniaturas-inter {
    display: inline-block;
    display: flex;
    gap: 5px;
    margin-left: -226px;
    margin-top: 776px;
    cursor: pointer;
  }
  
  .precio-viejo {
    position: relative;
    margin-left: 918px;
    margin-top: 158px;
    color: grey;
    text-decoration: line-through;
}
  
  .nuevo-precio {
    font-size: 25px;
    margin-top: 0px;
    margin-left: 874px;
    position: absolute;
}
  .tripadvisor {
    display: inline-block;
    margin-top: 32px;
    margin-left: 1038px;
}

.tripadvisor-logo-1{
    position: absolute;
    margin-left: 944px;
    margin-top: -321px;
}
.tripadvisor-logo-2{
    position: absolute;
    margin-left: 944px;
    margin-top: -323px;
}
.tripadvisor-logo-3{
    position: absolute;
    margin-left: 944px;
    margin-top: -320px;
    
}

  
  .reviews {
    display: inline-block;
    margin-top: 190px;
    margin-left: 909px;
    font-family: 'Nunito', sans-serif;
    color: lightgray;
    font-size: 12px;
}
  
.miniaturas {
    display: flex;
    gap: 5px;
    margin-left: 41px;
    justify-content: left;
    margin-top: 158px;
    cursor: pointer;
}
  .button-reservar {
    background-color: #be0434;
    border-radius: 15px;
    padding: 10px 20px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    font-family: 'bebas neue', sans-serif;
    font-size: 30px;
    color: white;
    display: inline-block;
    margin-top: 45px;
    margin-left: 870px;
}

.intro-hoteles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 196px;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    color: #000000;
    margin: 30px;
}
.foto-principal {
    display: flex;
    position: absolute;
    margin-top: -133px;
    gap: -179px;
    margin-left: 26px;
}
.info-precios{
    margin:auto 5px;
    position: relative;
   
}
.square p{
    display: flex;
    position: absolute;
    margin-top: -378px;
    gap: -179px;
    padding: 458px;
    margin-left: -44px;
    color: #000000;
}
/* CONTACTO */
.form-contacto{
display: flex;
font-family: 'montserrat',sans-serif;
font-size: 20px;
width: fit-content;
margin-top: 50px;

}
#map{
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    margin-top: -513px;
    margin-bottom: 142px;
}
.info-contacto{
    display: block;
    margin-left: 70px;
    position: relative;
    font-size: x-large;
    font-family: 'bebas neue';
    margin-left: 994px;
    margin-top: -69px;

}

.info-contacto p{
    margin-bottom: 113px;
    color: #be0434;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 16.5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #be0434;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #be0434;
}


.seguinos-contacto{
    position: absolute;
    left: 15px;
    top: 855px;

}

.texto-gracias {
    text-align: center;
}

.video{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.seguinos-gracias{
    position: absolute;
    left: 15px;
    top: 832px;
}
.layout{
    display: grid;
    gap: 4px;
    grid-template-rows: 40px 40px auto 60px 60x 40px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'header','main','footer';
    height: 100%;
}

@media (max-width: 320px) {
   
    .button-reservar {
        display: flex;
        flex-direction: column;
        background: #be0434;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    #check:checked ~ ul {
        max-width:320px ;
    }
    .button-conocermas{
        top: 515px;
        left: 113px;
        width: 118px;
        font-size: 15px;
    }
    .lugares{
        gap:136px;
    }
    #map{
        width: 100%;
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: column;
    }
   .grupo-2 iframe{
    width: 274px;
   }
   .form-busqueda{
    margin: 5vh;
   }
   .oferta-hoteles{
    margin-left: 10px;
   }
   .square{
    margin-left: 1vh;
   }
   .nuevo-precio h5{
    margin-left: 113px;
   }

   .cards-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .cards-container p{
        font-size: 10px;
    }
    .cards-container
    .card-1 {
        width: 12rem;
        height: 36rem;
        
    }
    .servicios h1{
        color: #be0434;
        font-size: larger;
    }
    .servicios-1 p {
        font-size: 12px;
        text-align: justify;
        align-content: center;
        display: block;
        width: 236px;

    }
    
    .info-precios {
        margin: auto 5px;
        position: relative;
    }
    .servicios-2 p{
    font-size: 12px;
    text-align: justify;
    }
    .servicios-3 p{
    text-align: justify;
    display: inline-block;
    margin: 0;
    font-size: 12px;
    padding: 2px;
    }
    .cards-container .card-1 p {
    font-size: 10px;
    padding-top: 90px;
    }
    .cards-container .card-1 h2 {
    font-size: 30px;

    }
    .gif{
        padding: 10px;
    }
}
@media (max-width: 480px) {
    
    body p{
        font-size: 16px;
        margin: auto;
    }
    .intro p {
        display: flex;
        font-family: 'bebas neue',sans-serif;
        padding: 0px;
        text-align: center;
        color: #000000;
        width: 100%;
    }
    .button-conocermas {
        background-color: #be0434;
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 20px;
        top: 604px;
        left: 149px;
        width: 118px;
        border-radius: 16.5px;
        padding: 8px;
    }
    
    .checkboton{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(238, 227, 226);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 99px;
        line-height: 30px;
        margin-left: auto;
    }
    nav ul li a{
        font-size: 40px;

    }
    li a:hover{
        background-color: rgb(223, 169, 223);
    }
    #check:checked ~ ul {
        max-width:480px ;
        left: 0;
        height: fit-content;
        z-index: 9999;
    }
    .checkboton{
        font-size: 30px;
        color: black;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
    }
    .intro {
        padding: 0 6px;
    }
    
    .lugares{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 160px;
        width: 100%;
        flex-wrap: nowrap;
        align-items: baseline;
    }
    
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

    .pie-pagina .grupo-2 {
        margin-left: 0px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .pie-pagina .box{
        padding: 28px;
        margin: 50px;
    }
    .square{
        width: 290px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto 50px 10px;
    
    }
    .nuevo-precio h5{
        margin-left: 112px;
    }
    .form-busqueda {
        flex-wrap: wrap;
        width: 297px;
        margin: auto 50px 10px;
    }
    .form-busqueda button {
        margin: 20px;
    }
    .foto-principal {
        display: flex;
        position: absolute;
        margin-top: -185px;
        gap: -179px;
        margin-left: 5px;
        width: 268px;
        cursor: pointer;
    }
    .square h1 {
        font-size: 20px;
        margin-left: 7px;
        font-family: 'bebas neue',sans-serif;
        color: #000000;
        margin-top: 253px;
    }
    .icons-fa {
        margin-left: 4px;
        margin-top: -102px;
    }
    .square p {
       display: none;
    }
    .square h3{
        margin-left: 4px;
        font-size: 10px;
    }
    .miniaturas{
        display: none;
    }
    .square h2{
        display: none;
    }
    .info-precios .reviews{
        display: none;
    }
    .tripadvisor-logo-1, 
    .tripadvisor-logo-2,
    .tripadvisor-logo-3{
        display: none;
    }
    
    .button-reservar {
    margin-left: -16px;
    margin-top: 407px;
    background: #be0434;
    font-size: 20px;
    width: 101px;
    height: 60px;
    }


    h5.nuevo-precio{
        margin-left: 129px;
        margin-top: 437px;
    }
    h4.precio-viejo{
        position: absolute;
        margin-left: 129px;
        margin-top: 418px;
     
    }


    .hero {
        width: fit-content;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: auto 68px;
    }
    .servicios h1 {
        color: #be0434;
    }
    .servicios {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .servicios-3 p{
        display: flex;
        text-align: justify;
        justify-content: center;
        margin-left: 7px;
        padding: 0;
    }
    .servicios h2{
        margin-left: -25px;
        margin-top: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .servicios-1 p{
        margin-top: 10px;
        margin-left: 22px;
        text-align: justify;
        padding: 0;
    }
    .servicios-2 p {
        display: flex;
        justify-content: center;
        padding-left: 265px;
        padding-right: 1px;
        text-align: justify;
    }
    .servicios-3 p {
        display: flex;
        text-align: justify;
        justify-content: center;
        padding: 0;
        margin-top: 17px;
    }

    .cards-container p {
        font-size: 10px;
        padding-top: 90px;
    }
    .cards-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;

    }
    .cards-container .card-1{
        border-radius: 57px;
    }
    .card-1 {
        margin-bottom: 20px;
        
    }

    .bsastespera {
        width: 100%;
        position: absolute;
        top: 2950px;
        left: 71px;
        display: contents;
    }

    .gif {
        width: 100%;
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction:column ;
    }

    .form-contacto{
        width: 100%;
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: column;
    }
    .info-contacto{
        margin-left: 28px;
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: column;

    }
    #map{
        width: 100%;
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: column;
        margin-top: 450px;
        margin-top: 40px;
    }
    #map iframe{
        border: 30px;
        width: 300px;
    }
    .texto-gracias h1{
        color: #be0434;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        flex-direction: column;
    }
}


